<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYiObT-eCP-OZ7pGWYppGelLOPVsOmMEI</string>
	<key>GCM_SENDER_ID</key>
	<string>528920830753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evo.opt2</string>
	<key>PROJECT_ID</key>
	<string>opt2-n5y3g4</string>
	<key>STORAGE_BUCKET</key>
	<string>opt2-n5y3g4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528920830753:ios:153925a4b538df37e55460</string>
</dict>
</plist>